/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.secondary_nav {
    background: #487EBE;
    padding: 15px 0;
}

header.header.sticky {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #75c25f;
    background: -webkit-linear-gradient(left, #75c25f, #16aed7);
    background: linear-gradient(to right, #75c25f, #16aed7);
    padding: 15px 20px;
}