.text-logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 29px;
  vertical-align: bottom;
  color: #4b4b5a;
  font-size: 16px;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background: #5369f8;
  border: 2px solid #5369f8;
}

#preloader {
  display: none;
  background-color: #ffffffc7;
}

.spinner-border1 {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: text-bottom;
  border: .15em solid currentColor;
      border-right-color: currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .45s linear infinite;
  animation: spinner-border .45s linear infinite;
}